{% extends "base.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <div class="main-title">
    <h3>{{ this.title }}</h3>
    <div class="left-fold"></div>
    <div class="edge"></div>
  </div>
  <div class="entry">

    <h1>{{ this.heading }}</h1>

    <table border="0" width="100%">
      <tbody>
      <tr>
        <th></th>
        <th>Date</th>
        <th>Facility</th>
        <th>Room</th>
        <th>Time</th>
      </tr>
      {% if this.auditions %}
        <tr class="heading">
          <td colspan="5"><strong>AUDITIONS</strong></td>
        </tr>
        {% for row in this.auditions %}
          <tr>
            <td></td>
            <td>{{ row.date }}</td>
            <td>{{ row.facility }}</td>
            <td>{{ row.room }}</td>
            <td>{{ row.time }}</td>
          </tr>
        {% endfor %}
        <tr>
          <td colspan="5">&nbsp;</td>
        </tr>
      {% endif %}
      <tr class="heading">
        <td colspan="5"><strong>REHEARSALS</strong></td>
      </tr>
      {% for row in this.rehearsals %}
        <tr>
          <td>{{ row.number }}</td>
          <td>{{ row.date }}</td>
          <td>{{ row.facility }}</td>
          <td>{{ row.room }}</td>
          <td>{{ row.time }}</td>
        </tr>
      {% endfor %}
      <tr>
        <td colspan="5">&nbsp;</td>
      </tr>
      <tr class="heading">
        <td colspan="5"><strong>PERFORMANCE</strong></td>
      </tr>
      {% for row in this.performance %}
        <tr>
          <td></td>
          <td>{{ row.date }}</td>
          <td>{{ row.facility }}</td>
          <td>{{ row.room }}</td>
          <td>{{ row.time }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
